* {
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 610px;
}

@font-face {
  src: url(../fuente/Lato-Regular.ttf);
  font-family: "regular";
}
.regular {
  font-family: "regular";
}

@font-face {
  src: url(../fuente/Lato-Bold.ttf);
  font-family: "bold";
}
.regular {
  font-family: "bold";
}

.fondo img {
  position: absolute;
  width: 100%;
  height: 606px;
  z-index: 1;
}
.imagen img {
  position: absolute;
  width: 15%;
  border-radius: 250px;
  z-index: 3;
  border: 5px solid white;
  margin-left: -160px !important;
  margin-top: 160px !important;
}
.nombre p{
    position: absolute;
    border-radius: 1px solid red;
    z-index: 2;
    color: black;
}

.nombre p{
    position: absolute;
    z-index: 2;
    color:#202331;
    font-size: 25px;
    margin-left: 420px;
    margin-top: 350px;

}
.cuidad p{
    position: absolute;
    z-index: 2;
    color: #202331;
    font-size: 25px;
    margin-left: 455px;
    margin-top: 400px;

}
